node_modules/
dist/
client/dist/
*.log
.env
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
coverage/
local/*
!local/jira-credentials.example.json
!local/rest-api-credentials.example.json
data/
